.aboutHeader {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.aboutHeader h1 {
    font-family: var(--fontLucidity);
    font-size: clamp(4.5rem, 8vw, 6rem);
    color: var(--primaryTextColor);
    padding-bottom: 50px;
    text-align: center;
  }

.aboutHeader p {
    font-size: clamp(2rem, 2.5vw, 4.5rem);
    color: var(--primaryTextColor);
    width: 70vw;
    height: auto;
    text-align: center;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.header h1 {
    font-family: var(--fontLucidity);
    font-size: clamp(5rem, 11vw, 12rem);
    color: var(--primaryTextColor);
    padding-bottom: 50px;
    text-align: center;
  }

  .header h2 {
    font-family: var(--fontLucidity);
    font-size: clamp(5rem, 5vw, 8rem);
    color: var(--primaryTextColor);
    padding-bottom: 50px;
    text-align: center;
  }

.header p {
    font-size: clamp(2rem, 2.25vw, 4.5rem);
    color: var(--primaryTextColor);
    width: 70vw;
    height: auto;
    text-align: center;
}

.header a {
    font-family: var(--fontLucidity);
    font-size: clamp(2rem, 2.25vw, 4.5rem);
    color: var(--primaryTextColor);
    width: 70vw;
    height: auto;
    text-align: center;
    padding-bottom: 5px;
}

.paragraphLucidity {
    font-family: var(--fontLucidity);
    font-size: clamp(2rem, 2.25vw, 4.5rem);
    color: var(--primaryTextColor);
    width: 70vw;
    height: auto;
    text-align: center;
}

@media (max-width: 768px) {
    .aboutHeader p {
        font-size: clamp(1.6rem, 1.5vw, 3rem);
        color: var(--primaryTextColor);
        width: 80vw;
        height: auto;
        text-align: center;
    }
  }