.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(4,26,64);
    background: linear-gradient(180deg, rgba(4,26,64,0.8) 0%, rgba(4,26,64,0.8) 100%);
    color: var(--primaryTextColor);
    padding-left: .85vw;
    padding-right: .85vw;
    text-align: center;
    font-size: clamp(1.3rem, 2.7vw, 3.6rem);
    z-index: 1;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--primaryTextColor);
  }

  .nav a {
    font-weight: bold;
    text-transform: capitalize;
    font-family: var(--fontLucidity);
    color: var(--primaryTextColor);
    margin-right: 1rem;
    padding-inline: 0.5vw;
  }

  .nav a:hover {
    color: var(--secondaryTextColor);
    cursor: pointer;
  }

  .align {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    display: flex;
    width: auto;
    height: 3.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
  }

  /* mobile view */
@media (max-width: 768px) {

  .logo {
    display: flex;
    width: auto;
    height: 10vw;
  }

  .nav a {
    font-weight: bold;
    text-transform: capitalize;
    font-family: var(--fontLucidity);
    color: var(--primaryTextColor);
    text-decoration: none;
    padding-inline: 0;
  }
  
  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: var(--primaryTextColor);
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(4,26,64);
    background: linear-gradient(180deg, rgba(4,26,64,0.8) 0%, rgba(4,26,64,0.8) 100%);
    color: var(--primaryTextColor);
    padding-bottom: .75vw;
    padding-left: .85vw;
    padding-right: .85vw;
    text-align: center;
    font-size: clamp(2.5rem, 3vw, 2.7rem);
    text-decoration: none;
    z-index: 1;
  }

  .align {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}